{{page-title "Blogs"}}

{{#if this.session.isAuthenticated}}
  <div class="float-right h1">
    <LinkTo @route="blog-posts.new">
      <div class="btn-primary btn-sm">+ New Post</div>
    </LinkTo>
  </div>
{{/if}}

<h1 class="h4">
  <a class="link" {{on "click" this.clearTags}}>
    <span>Blog posts</span>
  </a>
</h1>

{{#if this.model.meta.tag_list}}
  <ul class="list-inline list-unstyled tags">
    {{#each this.model.meta.tag_list as |tag|}}
      <li>
        <a class="link" {{on "click" (fn this.tagSelected tag)}}>
          {{tag.name}}
          <span>{{tag.taggings_count}}</span>
        </a>
      </li>
    {{/each}}
  </ul>
{{/if}}

<div class="clearfix"></div>

<div id="posts" class="row">
  {{#each this.model as |post|}}
    <div class="col-sm-6 blog">
      <h4>
        <LinkTo @route="blog-posts.show" @model={{post}}>{{post.title}}</LinkTo>
      </h4>
      <div class="text-muted small">
        {{format-date post.createdAt}}
        <span>&nbsp;•&nbsp;</span>
        {{!-- <DisqusCommentCount @identifier={{post.discusIdentifier}} /> --}}
      </div>
      <p>{{html-content post.content}}</p>
    </div>
  {{/each}}
</div>

<div class="float-left">
  {{page-numbers controller=this}}
</div>

<div class="clearfix"></div>
