{{page-title this.model.title}}

<div class="float-left">
  <h1>{{this.model.title}}</h1>
  <small class="text-muted">
    {{format-date this.model.createdAt}}
  </small>
</div>

{{#if this.session.isAuthenticated}}
  <BsModalSimple
    @title="Please confirm"
    @renderInPlace={{true}}
    @closeTitle="Cancel"
    @submitTitle="Confirm"
    @open={{this.shouldDelete}}
    @onSubmit={{fn this.deletePost this.model}}
    @onHide={{fn this.setShouldDelete false}}
  >
    <p>You're about to delete '{{this.model.title}}'. Are you sure?</p>
  </BsModalSimple>

  <div class="float-right">
    <LinkTo @route="blog-posts.edit" @model={{this.model}}>edit</LinkTo>
    <span>&nbsp;|&nbsp;</span>
    <span class="text-danger" style="cursor: pointer" {{on "click" (fn this.setShouldDelete true)}}>delete</span>
  </div>
{{/if}}

<div class="clearfix"></div>

<ul class="list-inline list-unstyled tags">
  {{#each this.model.tags as |tag|}}
    <li>
      <LinkTo @route="blog-posts" @query={{hash tags=tag.name}}>
        {{tag.name}}
        <span>{{tag.taggings_count}}</span>
      </LinkTo>
    </li>
  {{/each}}
</ul>

<div class="blog-post">
  {{html-content this.model.content}}
</div>

{{!-- <DisqusComments @identifier={{this.model.discusIdentifier}} /> --}}
