<BsForm @model={{this.args.model}} @multipart={{true}} @onSubmit={{this.submit}} as |form|>
  <form.element @label="Active" @controlType="checkbox" @property="published" />
  <form.element @label="Title" @controlType="text" @property="title" />
  <TagInput
    @tags={{this.args.model.tagList}}
    @addTag={{this.addTag}}
    @removeTagAtIndex={{this.removeTagAtIndex}}
    as |tagLabel|
  >
    {{tagLabel}}
  </TagInput>
  <br />
  <form.element @label="Caption" @controlType="textarea" @property="caption" />

  <form.element @label="Photo" @controlType="file" @property="photo" as |el|>
    <div class="input-group">
      <input class="form-control" accept="image/*" type="file" {{on "change" (fn this.uploadPic)}} id={{el.id}} style="display:inline-block;" />
      <span>{{this.uploadProgressPercent}}</span>
    </div>
  </form.element>

  {{#if this.args.model.msrc}}
    <img class="thumbnail" src={{this.args.model.msrc}} alt={{this.args.model.title}} />
    <br />
  {{/if}}

  <form.submitButton>
    {{#if form.isSubmitting}}
      <span>Please wait...</span>
    {{else}}
      <span>Submit</span>
    {{/if}}
  </form.submitButton>
</BsForm>
