{{page-title "David B. John"}}

<main class="container" role="main">
  {{#each this.flashMessages.queue as |flash|}}
    <div class="alert-fixed">
      <FlashMessage @flash={{flash}} />
    </div>
  {{/each}}

  <div class="header">
    <div id="slogan" class="float-left" {{did-insert this.didInsert}}>
      <LinkTo @route="index">
        {{#if this.slogans.length}}
          {{#each this.slogans as |slogan|}}
            <span id="sloganTitle" class="fade-in-text">{{slogan.title}}</span>
          {{/each}}
        {{else}}
          <span id="sloganTitle" class="fade-in-text">David B. John</span>
        {{/if}}
      </LinkTo>
    </div>

    <div class="float-right">
      <BsNav @type="pills" as |nav|>
        {{#unless this.isSearching}}
          <nav.item>
            <nav.linkTo @route="pics"><span>Pics</span></nav.linkTo>
          </nav.item>
          <nav.item>
            <nav.linkTo @route="blog-posts"><span>Blog</span></nav.linkTo>
          </nav.item>
          <nav.item>
            <nav.linkTo @route="about"><span>About</span></nav.linkTo>
          </nav.item>
        {{/unless}}

        <nav.item>
          <input type="text" class={{this.searchBoxClasses}} placeholder="search" value={{this.q}} {{on "keydown" this.doSearch}} />
          <button class="btn btn-link" type="button" {{on "click" this.searchClicked}}>
            {{#if this.isSearching}}
              <img src="/assets/images/cancel.png" />
            {{else}}
              <img src="/assets/images/search.png" />
            {{/if}}
          </button>
        </nav.item>
      </BsNav>
    </div>

    <div class="clearfix"></div>
  </div>

  <div id="content">
    {{#if this.isSearching}}
      <GoogleSearch @q={{this.q}} />
    {{else}}
      {{outlet}}
    {{/if}}
  </div>

  <div class="footer">
    <div class="float-right">
      <a href="https://rubyonrails.org/">
        <img class="inline" src="/assets/images/rails.jpg" alt="Ruby on Rails Logo" />
      </a>
      <a href="https://emberjs.com/">
        <img class="inline" src="/assets/images/ember.jpg" alt="Ember JS Logo" />
      </a>
    </div>
    <div class="float-left">
      {{#if this.session.isAuthenticated}}
        <a class="link" {{on "click" this.invalidateSession}}>
          <div class="text-muted">Logout {{this.currentUser.user.name}}</div>
        </a>
      {{else}}
        <LinkTo @route="login">
          <div class="text-muted">&nbsp;&copy;&nbsp;DBJohn, LLC</div>
        </LinkTo>
      {{/if}}
    </div>
  </div>
  <div class="clearfix"></div>
</main>
