<h1 class="d-none">David B. John</h1>

{{#if this.isLoaded}}
  <div id="latest">
    <figure class="cap-bot">
      {{#each this.pics as |pic|}}
        <LinkTo @route="pics.show" @model={{pic}}>
          <img class="img-fluid" src={{pic.src}} />
          <figcaption>
            <PicCaption @pic={{pic}} />
          </figcaption>
        </LinkTo>
      {{/each}}
    </figure>
  </div>

  <div class="clearfix"></div>

  <br />
  <br />

  <div class="row marketing blogs">
    {{#each this.blogs as |blog|}}
      <div class="col-sm-12 col-md-6 blog">
        <h4>
          <LinkTo @route="blog-posts.show" @model={{blog}}>{{blog.title}}</LinkTo>
        </h4>
        <div class="text-muted small">
          {{from-now blog.createdAt}}
        </div>
        {{html-content blog.content}}
      </div>
    {{/each}}
  </div>
{{else}}
  <div id="latest">
    <div class="ph-item">
      <figure class="cap-bot ph-picture"></figure>
    </div>
  </div>

  <hr />
  <div class="row">
    <div class="col-sm-12 col-md-6 blog ph-item">
      <div class="ph-picture"></div>
    </div>
    <div class="col-sm-12 col-md-6 blog ph-item">
      <div class="ph-picture"></div>
    </div>
  </div>
{{/if}}
